# Backend API Configuration
#REACT_APP_API_URL=http://10.185.1.128:5000/api
REACT_APP_API_URL=https://api.avery.cloud

# Gemini API Configuration
REACT_APP_GEMINI_API_KEY=AIzaSyDihARu4DzvvoqOE62az74g0Vr5Abu_3CY
REACT_APP_GEMINI_MODEL_ID=gemini-2.0-flash
REACT_APP_GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/models
JWT_SECRET=your_jwt_secret_here
REACT_APP_GLOBAL_ADMIN_EMAIL=david@avery.cloud